{% extends "layout1.html" %}

{% block body %}
<h3>Hakkımda </h3>
<hr>
Herkese merhaba. Bu sitedeki amacımız birbirimize yardımcı olabilmek. İnsanlar size ne yapamayacağınızı söyler dururlar ama gerçekten neyi yapıp neyi yapamayacağınızı en iyi siz bilirsiniz. Her girişimimde bana da yapamayacağımı söyleyenler oldu. Yanlış yaptığımı dikte edenler oldu ancak bunların geçerliliği tamamen sizin neyi isteyip neyi istemediğinize bağlı. Bu yüzden pes etmeyin. 
<hr>
{% endblock body %}<h3>Hakkımda </h3>
